body{

  background-color: hsl(217, 54%, 11%);
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
hr{
margin: 50px 10px 0 0;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: hsl(215, 51%, 70%);
}

.card{
  max-height:500px;
  max-width: 300px;
  margin: 100px auto;
    background: hsl(216, 50%, 16%);
    border-width: 20px;
    border-style: solid;
    border-color: hsl(217deg 54% 11% / 76%);
    border-radius: 40px;

}
.creator{
      margin: 15px 0;
      font-size: small;
    float: left;
}
.creator-img{
  max-height: 30px;
  vertical-align: middle;

}

.crypto-desc{
  font-size: small;
  color: hsl(215, 51%, 70%);
  text-align: left;
  font-weight: 300;
}

.crypto-image{
  max-height: 50%;
    max-width: 80%;
    /* margin: auto 30px; */
    padding: 20px 15px 15px 20px;

    border-radius: 30px;
}

.current-rate{
  float: left;
color:hsl(178, 100%, 50%);
}

.crpto-text{
  font-family: 'Outfit', sans-serif;
  margin-left: 30px;
margin-right: 20px;
  color:white;
}

.head{
  text-align: left;

}

.rate{
  padding-right: 10px;
font-size: small;
}
.time-left{
  float: right;
color: hsl(215, 51%, 70%);}
